* {
  padding: 0;
  margin: 0;

}

:root {
  --font-size: 16px;
  --primary-color: #0A2647;
  --secondary-color: #144272;
}

body {
  background-color: var(--primary-color);
  color: white;
}

header {
  background-color: var(--secondary-color);
  height: 150px;
  margin-bottom: 30px;
}

h1 {
  font-size: 5rem;
  margin-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.search_bar {
  height: 40px;
  width: 100%;
  max-width: 1300px;
  border-width: 3px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.movie {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.movie-container h2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
 
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.year {
  font-size: 1rem;
  margin-bottom: 15px;
}

.poster {
  height: 250px;
  margin-bottom: 15px;
  width: 100%;
}

.search-result {
  margin-bottom: 100px;
}

/* Media queries for tablet devices */

@media (min-width: 768px) {
  .search_bar {
    width: 80%;
  }

  .movie {
    width: 200px;
  }
}

/* Media queries for mobile devices */

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  .search_bar {
    width: 100%;
    max-width: 400px;
  }

  .movie {
    width: 100%;
    margin: 5px;
    padding: 10px;
  }

  .movie-container h2 {
    font-size: 1.5rem;
  }
}
